<title>Desafio Vortex</title>
<script>
    // Entrada - Aqui eu estou recebando os valores dos inteiros
    let T = parseInt(prompt("Digite o valor de T (Quantidade de segundos da jogada)")); 
    let Q = parseInt(prompt("Digite o valor de Q (Quantidade de jogadores em quadra)"));
    let X = parseInt(prompt("Digite o valor de X (Tempo de reposicionamento dos jogadores após o passe)"));
    
    // Processamento - Representação matemática para resolver a questão (Somatório de (Q - X à Q - 1) + (T - X) * (Q - X))
    // Como não sei representar somatório em java script vou fazer um loop
   if((T > 0 && T <= 24) && (Q >= 2 && Q <=5) && (X > 0 && X <= Q - 1 )){
    var sum = 0
    for (var i= Q-X; i < Q; i++){
     sum = sum + i}
     var result = sum + (T - X) * (Q - X)
     document.write("Somatório de jogadores livres para cada passe no treino: " + result)
    }
    else{
      alert("Está fora das condições")
    }
    
</script>   